@font-face {
  font-family: "Kodchasan";
  font-weight: 700;
  font-style: normal;
  src: local("Lato"),
    url("../fonts/Kodchasan-Bold.woff2") format("woff2"),
    url("../fonts/Kodchasan-Bold.woff") format("woff"),
    url("../fonts/Kodchasan-Bold.eot") format("eot");
    font-display: swap;
}
@font-face {
  font-family: "Kodchasan";
  font-weight: 600;
  font-style: normal;
  src: local("Lato"),
    url("../fonts/Kodchasan-SemiBold.woff2") format("woff2"),
    url("../fonts/Kodchasan-SemiBold.woff") format("woff"),
    url("../fonts/Kodchasan-SemiBold.eot") format("eot");
    font-display: swap;
}
@font-face {
  font-family: "Kodchasan";
  font-weight: 500;
  font-style: normal;
  src: local("Lato"),
    url("../fonts/Kodchasan-Medium.woff2") format("woff2"),
    url("../fonts/Kodchasan-Medium.woff") format("woff"),
    url("../fonts/Kodchasan-Medium.eot") format("eot");
    font-display: swap;
}