html, body {
    font-family: "Kodchasan", sans-serif;
    color: #000;
}
.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
}
.container {
    max-width: 1260px;
    padding: 0 15px;
    margin: 0 auto;
}
/* ############################################################## */
.header__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}
.header__logo {
}
.logo {
}
.header__nav {
}
.header__nav-list {
    display: flex;
}
.header__nav-item {
    margin-right: 40px;
}
.header__nav-item:last-child {
    margin-right: 0;
}
.header__nav-item:first-child {
    font-weight: bold;
}
.header__nav-link {
    white-space: nowrap;
}
/* ############################################################## */
.header__body {
    padding: 0 15px;
}
.header__container {
    max-width: 1500px;
    padding: 0 15px;
    margin: 0 auto;
    background: linear-gradient(
        to right top,
        #FF9D2D,  
        #FFD877  
    );
    background-attachment: fixed; 
    border-radius: 30px;
    position: relative;
    height: 874px;
}

.header__container::after {
    content: '';
    position: absolute;
    background: url('../img/bg-logo.svg') no-repeat;
    width: calc(100% - 89px - 174px); 
    max-width: 1400px;
    height: 611px;
    right: 13px;
    top: 180px;
    background-size: contain;
}

@media (max-width: 768px) {
    .header__container::after {
        width: 80%;
        height: 50%;
        right: auto;
        bottom: auto;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}
.header__main {}
.header__content {
}