html, body {
    font-family: "Kodchasan", sans-serif;
    font-size: 18px;
    color: #000;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
}

.container {
    max-width: 1260px;
    padding: 0 15px;
    margin: 0 auto;
}

.honey-image-1 {
    position: absolute;
    left: 0;
    top: 117px;
    height: 322px;
    width: auto;
    z-index: 3;
}

/* ############################################################## */
.button {
    font-size: 18px;
    height: 65px;
    line-height: 160%;
    font-weight: bold;
    z-index: 5;
    white-space: nowrap;
}

.btn-black {
    padding: 18px 50px;
    width: 180px;
    color: #fff;
    background-color: #000;
    margin-right: 30px;
}

.btn-black-transparent {
    color: #000;
    border: 3px solid #000;
    padding: 18px 50px;
}

.btn-orange {
    padding: 15px 40px;
    width: 184px;
    height: 59px;
    color: #fff;
    background-color: #E58311;
}

.btn-orange-transparent {
    color: #e58211;
    border: 1.50px solid #e58211;
    padding: 10px 30px;
    width: 140px;
    height: 49px;
}

/* ############################################################## */
.header__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    max-width: 1500px;
    padding: 0 15px;
    margin: 0 auto;
    height: 65px;
}

.header__logo {
    margin-left: 100px;
}

.logo {}

.header__nav {}

.header__nav-list {
    display: flex;
}

.header__nav-item {
    margin-right: 40px;
}

.header__nav-item:last-child {
    margin-right: 0;
}

.header__nav-item:first-child {
    font-weight: bold;
}

.header__nav-link {
    white-space: nowrap;
}

/* ############################################################## */
.header__body {
    padding: 0 15px;
}

.header__container {
    max-width: 1500px;
    padding: 0 15px;
    margin: 0 auto;
    background: linear-gradient(to right top,
            #FF9D2D,
            #FFD877);
    background-attachment: fixed;
    border-radius: 30px;
    position: relative;
    height: 874px;
}

.header__container::after {
    content: '';
    position: absolute;
    background: url('../img/bg-logo.svg') no-repeat;
    width: calc(100% - 89px - 174px);
    max-width: 1400px;
    height: 611px;
    right: 13px;
    top: 180px;
    background-size: contain;
}

@media (max-width: 768px) {
    .header__container::after {
        width: 80%;
        height: 50%;
        right: auto;
        bottom: auto;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

.header__main {}

.header__content {
    max-width: 1260px;
    padding: 0 15px;
    margin: 0 auto;
}

.header__buttons {
    display: flex;
    position: absolute;
    bottom: 147px;
}

.bee-line-img {
    position: absolute;
    top: 445px;
    height: 129px;
    z-index: 5;
}

.main-img {
    position: absolute;
    height: 650px;
    z-index: 5;
    right: 10px;
    top: 124px;
}

.finger-licking-honey {
    font-size: 100px;
    font-weight: bold;
    color: #0b0b0b;
    ;
}

.finger-licking-honey-1 {
    position: absolute;
    top: 182px;
    left: 177px;
    z-index: 5;
}

.finger-licking-honey-2 {
    position: absolute;
    top: 322px;
    left: 275px;
    z-index: 5;
}

.finger-licking-honey-3 {
    position: absolute;
    top: 462px;
    left: 471px;
    z-index: 5;
}

/* ############################################################## */
.trusted-shops {
    font-weight: 700;
    font-size: 45px;
    line-height: 160%;
    color: #000;
    margin-top: 121px;
}

.partners {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

/* ############################################################## */

.main-content {
    margin-top: 130px;
    max-width: 1467px;
    padding: 0 15px;
    margin: 0 auto;
    margin-top: 130px;
}

.content-item {
    display: flex;
    place-items: center;
    margin-top: 100px;
    justify-content: space-between;
}

.content-item img {
    max-height: 784px;
    max-width: 60%;
}

.content-text {
    display: grid;
    height: 374px;
    width: 548px;
}

.content-text h4 {
    font-weight: 700;
    font-size: 45px;
    line-height: 145%;
}

.content-text p {
    font-weight: 600;
    font-size: 22px;
    line-height: 160%;
    opacity: 0.7;
}

/* ############################################################## */
.container-products {
    margin-top: 100px;
}

.products-header {
    display: flex;
    justify-content: space-between;
}

.products-header h4 {
    font-weight: 700;
    font-size: 45px;
    line-height: 160%;
}

.products-header a {
    margin-top: auto;
    font-weight: 700;
    font-size: 18px;
    line-height: 160%;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-align: right;
    color: #e58211;
}

.products {
    display: flex;
    margin-top: 50px;
}

.products h4 {
    font-weight: 700;
    font-size: 45px;
    line-height: 160%;
}

.product__item {
    display: flex;
    height: 305px;
    max-width: 50%;
    width: 50%;
    margin-right: 15px;
    background: hsla(33, 89%, 48%, 0.07);
}

.product__item:last-child {
    margin-right: 0;
}

.product__item-text {
    width: 324px;
    padding: 45px 0 44px 30px;
}

.product__item-text h5 {
    font-weight: 600;
    font-size: 28px;
    line-height: 140%;
}

.product__item-text p {
    font-weight: 600;
    font-size: 16px;
    line-height: 160%;
    opacity: 0.7;
}

.product__item-img {
    text-align: center;
    margin: 0 auto;
    padding: 28px 0;
}

.product__item-img img {
    height: 100%;
    width: auto;
}

.product__item-text {
    display: grid;
}

/* ############################################################## */

.footer {
    margin-top: 130px;
    background: linear-gradient(to right top,
            #FF9D2D,
            #FFD877);
    background-attachment: fixed;
}

.container-footer {
    display: flex;
    height: 137px;
}

.footer__item {
    margin: auto 0;
}

.footer__logo {
    margin-right: 50px;
}

.footer__text {
    width: 269px;
    height: 47px;
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;
    margin-right: 88px;
}

.social-networks a {
    margin-right: 40px;
}
.social-networks a:last-child {
    margin-right: 0;
}

.footer__apps {
    margin-left: auto;
}
.footer__apps-google-play{
    margin-right: 20px;
}
